
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HOME*/

.container-home {
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "images images images images images images"
    "footer footer footer footer footer footer"; 
    max-width: 100vw;
}

.images {
    grid-area: "images";
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.image-woman {
    width: 100vw; height: 100vh;
    align-items: center;
    display: flex;
    background-color: blueviolet;
    position: relative;
}

.image-man {
    width: 100vw; height: 100vh;
    align-items: center;
    display: flex;
    background-color: pink;
    position: relative;
    
}

.image-man img {
    object-fit: cover;
    width: 100%; height: 100%;

}

.image-woman img {
    object-fit: cover;
    width: 100%; height: 100%;
}

.collection-title-woman {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 28%;
    margin-top: -15%;

}
.collection-title-man {
    position: absolute;
    z-index: 1;
}
.collection-title-woman:hover {
    font-weight: 800;
    cursor: pointer;
    
 }

/*MEDIA QUERY HOME*/ 
@media (max-width: 850px) {
    .images {
        flex-direction: column; 
        min-width: 50px; min-height: 50px;
    }

    .image-woman {
        width: 100%; height: 80%;
    }
    
    .image-man {
        width: 100%; height: 80%;
    }
}

/*MENU*/ 

.menu {
    grid-area: "header";
    min-height: 100px;
    border-bottom: 2px black solid;
    background-color: white;
}


.burger-icon img {
    width: 40px;
    height: 40px;
}

.logo img {
    width: 120px;
}

.header {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .hidden {
    display: block;
}

.navbar a {
    padding: 1rem;
    color: black;
    display: block;
    text-decoration: none;
    
}

.navbar li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-popups {
    background: none;
    position: fixed;
    z-index: 1;
}
  
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.hidden {
    display: none;
}

.burger-icon {
    display: flex;
    width: 200px;
    padding-left: 20px;
}

.right-align-elements {
    display: flex;
    position: end;
    align-items: center;
    padding-right: 20px;
}

.logo {
    justify-content: center;
    align-items: center;
}

.search-bar {
    border-bottom: solid 3px black;
    align-items: center;
}

.searchInput {
    border: none;
    color: black;
    text-transform: capitalize;
    font-weight: 300;
}


/*MEDIA QUERY MENU*/ 
@media (max-width: 850px) {
    .search-bar {
        display: none;
    }

    .burger-icon {
        width: 70px;
        padding-left: 20px;
    }

    .right-align-elements {
        padding-right: 20px;
    }


}

/*CART*/

.shopping-cart {
    height: 500px;
    width: 400px;
    display: flex;
    border-color: black;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin-left: 1040px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    border: 1px black solid;
    position: absolute;
    z-index: 2;
    background: white;
}

.empty-basquet{ 
    width: 350px;
    height: 150px;
    cursor: pointer;
    display: flex;  
    align-items: center;
    justify-content: center;  
}

.empty-basquet img{
    width: 120px;
    height: 100px;
} 

.wishlist button{
    color: black;
    background-color: #fff;
    width: 350px;
    height: 55px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700px;
    font-weight: bolder;
    cursor: pointer;
}

.wishlist button:hover{
    background-color: black;
    color: white;
}

.novelties button{
    color: white;
    background-color: black;
    width: 350px;
    height: 55px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300px;
    font-weight: bolder;
    cursor: pointer;
}

.novelties button:hover{
    background-color: white;
    color: black;
    font-weight: bolder;
}

.carrito-prueba {
    align-items: center;
}

.empty-message h1{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 21px;
    padding-bottom: 30px;
}

.empty-message p{
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 13px;
    padding-bottom: 30px;
}


.cart-section-hidden-2 {
    display: none;
    align-items: end;
}

/*MEDIA QUERY CART*/

@media (max-width: 850px) {
    .shopping-cart {
        margin-left: 100px;

    }
}

/*FOOTER*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    font-family: 'Fjalla One', sans-serif;
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    height: 130px;
    width: 100%;
    justify-content: center;
    align-items:center;
    padding-bottom: 20px;


}

.ayuda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    padding-top: 5PX;
 
}
 
a:link, a:visited {
    text-decoration: none;
    color: black;
  }

.empresa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;  
}

.follow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    padding-top: 5px;
    
}

.titles{
    font-size: 13px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.iconos-rrss{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding-top: 5px;
    
}

.iconos-rrss svg{
    color: rgb(41, 42, 38);
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

hr { border: 1px inset rgb(235, 235, 235); height: 1px; width: 100%
}

/*MEDIA QUERY FOOTER DESKTOP*/ 

@media(min-width: 800px) { 
    
    .titles{
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

hr{
    display: none;
}

.footer{
    border-top: 2px black solid;
    text-align: center;

}

.follow{

    padding-bottom: 6px;
}
    
}

/*PRODUCTS*/

.container-products {
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "slider slider slider slider slider slider"
    "main main main main main main"
    "footer footer footer footer footer";
    max-width: 100vw;
    max-height: 100vh; 
}

.slider img {
    height: 100%;
    width: 100%;   
    object-fit: cover;
}

.slider {
    grid-area: "slider";
    width: 100%;
    height: 500px;
    padding-bottom: 30px;
}

.main {
    grid-area: "main";
    display: grid;
    grid-template-areas: 
    "filter products products products products products"
    "filter products products products products products"
    "filter products products products products products";
}

.products {
    grid-area: "products";
    grid-template-columns: repeat(4, 1fr);
    display: flex; 
    flex-direction: row; 
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

#filter-button {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 60px;
}

.btn {
    border: none;
    outline:  none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: 600;
    width: 120px;
}

.btn:hover {
    font-size: 16px;
    font-weight: 800;
}

.product-image img {
    width: 80%; height: 80%;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.product-image img:hover {
    border-bottom: 6px solid rgb(56, 247, 183);
}

.product-image {
    margin-bottom: 10px;
}

.product-description{
    font-size: 13px;
}

.main {
    padding-bottom: 70px;
}

.products {
    text-align: center;
}

.price {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 780;
    font-size: 13px;
}

.buy {
    padding-bottom: 30px;
}

.buyNow {
    font-weight: 780;
    background-color: rgb(56, 247, 183);
    border-radius: 4px;
    padding: 8px;
    border: none;
    cursor: pointer;
}


/*MEDIA QUERY PRODUCTS*/ 
@media (max-width: 850px) {

    .main {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
         
    }

    .slider {
        padding-bottom: 10px;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .filter {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        padding-inline: 10px;
        height: 80px;
    }

    .filterBtn {
        display: none;
    }

    .pants {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pantsDetail{
        justify-content: center;
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
    }

    .products {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

/*-----PRODUCT DETAIL-------*/


.container-product-details {
    display: flex;
    flex-direction: row;
    grid-template-columns: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.product-detail-image{
    width: 50%;
    display: flex;
    flex-direction: row; 
    justify-content: end;
    padding-bottom: 50px;
    padding-top: 50px;
}

.product-detail-image img {
    height: 500px;
    width: 350px;  
    box-shadow: 6px 8px 4px rgba(0,0,0,0.2);   
}

.product-title{
    display: flex;
    flex-direction: column;
    font-size: 16px; 
    padding-bottom: 13px;
}

.texto_container{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: star;
    margin-left: 5%;
}

.texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    gap:10px;
}

.product-price{
    font-size: 16px;
    padding-bottom: 15px;
}

.all-buttons{
    width: 100%;
    height: 55px;
    padding-bottom: 15px;
    display: flex;
    gap: 15px;
}

.talla-XS{
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 50px;
    height: 38px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.talla-S{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 50px;
    height: 38px;
    border: none;
    cursor: pointer;
}

.talla-M{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 50px;
    height: 38px;
    border: none;
    cursor: pointer;
}

.talla-L{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 50px;
    height: 38px;
    border: none;
    cursor: pointer;
}

.talla-XL{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 50px;
    height: 38px;
    border: none;
    cursor: pointer;
}

.talla-XXL{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    width: 50px;
    height: 38px;
    border: none;
    cursor: pointer;
}

.talla-XS:hover{
    background-color: rgb(177, 171, 171);
}

.talla-S:hover{
    background-color: rgb(177, 171, 171);
}

.talla-M:hover{
    background-color: rgb(177, 171, 171);
}

.talla-L:hover{
    background-color: rgb(177, 171, 171);
}

.talla-XL:hover{
    background-color: rgb(177, 171, 171);
}

.talla-XXL:hover{
    background-color: rgb(177, 171, 171);
}

.A単adir{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    display: flex;
    height: 60px;
    background-color: rgb(56, 247, 183);
    border-radius: 5px;
    justify-content: center;
    text-align: center ;
    margin-bottom: 20px;
}

.A単adir a{
    text-decoration: none;
    color: #fff;
    padding-top: 18px;
    font-weight: bolder;
}

.A単adir a:hover{
    color:black
}
.product-ref{
    font-size: 16px;
}

.product-info{
    padding-bottom: 20px;
    width: 409px;
}

.p{
    font-size: 16px;
}

/*-----MEDIA QUERY PRODUCT DETAIL-------*/

@media (max-width: 600px){

.container-product-details{
    display: flex;
    flex-direction: column;
}

.product-detail-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

.product-title{
    display: flex;
    width: 400px;
    font-size: 14px;
    align-items: center;
    padding-left: 13%;
}

.product-price{
    font-size: 14px;
    padding-left: 14%;
}

.all-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;  
}
.A単adir{
    display: flex;
    margin-left: 8%; 
}

.product-ref{
    padding-left: 13%; 
    padding-top: 10%;
}

.product-info{
    padding-left: 13%;
    padding-bottom: 15%;
}
  
}